@font-face {
  font-weight: 600;
  font-family: 'EdgeLine';
  src: url("../fonts/edgeline_demibold.woff"),
  url('../fonts/edgeline_demibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/edgeline_demibold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  font-weight: 400;
  src: url("../fonts/Unbounded.woff"),
  url('../fonts/Unbounded.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Unbounded.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  src: url("../fonts/gothampro_regular.woff"),
  url('../fonts/gothampro_regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothampro_regular.ttf') format('truetype');
  font-display: swap;
} 

@font-face {
  font-family: "RubikOne";
  font-weight: 400;
  src: url("../fonts/RubikOne-Regular.woff"),
  url('../fonts/RubikOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RubikOne-Regular.ttf') format('truetype');
  font-display: swap;
} 
