@import "fonts";
@import "reset";

$bg-dark: #0d0d0d;
$bg-grey: #272727;
$text-grey: #999393;
$text-orange: #e5a990;
$line: rgba(153, 147, 147, 0.5);

html {
  font-size: max(16px, calc(1vw + 0.753em));

  @media (min-width: 58.75em) {
    font-size: max(16px, calc(1vw + 0.3625em));
  }

  @media (min-width: 80em) {
    font-size: max(16px, calc(1vw - 0.2em));
  }
}

body {
  position: relative;
  z-index: 0;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: $bg-dark;
  background-size: 100%;
}

body.lock {
  overflow: hidden;
}

body .wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
}

.line {
  width: 1px;
  background-color: $line;
}

header {
  .navbar {
    position: relative;

    &__logo {
      position: absolute;
      z-index: 10;
      top: 4.2rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.25rem;
      //font-weight: 600;
      line-height: normal;
      letter-spacing: 0.53125rem;
      text-transform: uppercase;
      white-space: nowrap;
      font-family: "EdgeLine", sans-serif;

      & a {
        color: #ffffff;
      }
    }
    &__wrap {
      position: fixed;
      z-index: 100;
      right: 0.44rem;
      top: 0.75rem;
      display: flex;
      align-items: center;
      & .hamb {
        &__field {
          padding: 0.5rem;

          & span {
            display: block;
            background-color: #645c5d;
            width: 2.375rem;
            height: 0.1875rem;
            margin: 0.25rem auto;
            transition: transform 0.3s;
          }
        }

        & .active {
          & span:nth-of-type(3) {
            opacity: 0;
          }
          & span:nth-of-type(1) {
            transform: translateY(0.5rem) rotate(45deg);
          }
          & span:nth-of-type(2) {
            transform: translateY(0.1rem) rotate(-45deg);
          }
        }
      }
      & .social-links {
        display: flex;
        & a {
          padding: 0 0.3rem 0 0;
          display: flex;
          align-items: center;
        }
      }
    }
    & .menu {
      display: none;
    }
    @media (min-width: 58.75em) {
      &__wrap {
        display: none;
      }
      &__logo {
        top: 8.38rem;
        left: 10.5rem;
        transform: translateX(0);
      }
    }
    @media (min-width: 80em) {
      &__logo {
        top: 8.31rem;
        left: 16.31rem;
      }
    }
  }

  .popup-menu {
    position: fixed;
    height: 100%;
    z-index: 12;
    width: 13.1875rem;
    right: 0;
    transform: translateX(105%);
    transition: all 0.3s;

    &.open {
      transform: translateX(0);
    }

    & .menu {
      height: 100%;
      background-color: $bg-grey;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 6.44rem 2.6rem 5.41rem 0;
      font-size: 1.25rem;

      & li {
        margin-bottom: 1.44rem;

        & a {
          color: #f3eeee;
          text-align: right;
          line-height: normal;
          text-transform: uppercase;
        }
      }

      & .active {
        color: #e8e6e6;
        font-weight: 700;
      }
    }
  }

  .header-screen {
    position: relative;
    background-image: url(../img/mobile-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 23.56rem 0 0 0;

    .navbar__pc {
      display: none;
      @media (min-width: 58.75em) {
        top: 0;
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 1;

        & .social {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          background-color: #232429;
          //border-right: 1px solid $line;
          width: 6.6875rem;

          &__phone-link {
            margin-top: 15rem;
            transform: rotate(-90deg);
            font-family: "Gotham Pro";
            font-size: 1.5rem;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.45rem;
            white-space: nowrap;

            transition: all 0.2s;

            &:hover {
              transform: scale(105%) rotate(-90deg);
            }
            & a {
              color: #999393;
            }
          }

          &__links {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 9.88rem;
            & a {
              padding-bottom: 0.79rem;
              transition: all 0.1s;

              &:last-child {
                padding-bottom: 0;
              }
              &:hover {
                transform: scale(110%);
              }
            }
          }
        }

        & .menu__wrap {
          background: rgba(35, 36, 39, 0.7);
          width: 6.6rem;
          padding: 8.37rem 0.5rem 0 0;
          border-left: 1px solid $line;

          & .menu {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: flex-end;

            & li {
              font-size: 0.9375rem;
              padding: 0.75rem 0 0 0;
              text-transform: uppercase;

              & a {
                display: block;
                transition: all 0.2s;
                color: #f3eeee;
              }

              & a:hover {
                transform: scale(110%);
                color: #e8e6e6;
                font-weight: 700;
              }
            }
          }
        }
      }
      @media (min-width: 80em) {
        & .social {
          width: 10.4375rem;
          justify-content: space-evenly;

          &__phone-link {
            margin-top: 0;
          }
        }

        & .menu__wrap {
          padding-top: 9.25rem;
          padding-right: 1.66rem;
          width: 10.44944rem;

          & .menu li {
            padding: 1.44rem 0 0 0;
            font-size: 1.25rem;
          }
        }
      }
    }

    &__title {
      position: relative;
      background: rgba(39, 39, 39, 0.5);
      //backdrop-filter: blur(24px);

      border-top: 1px solid $line;
      padding: 4.75rem 0 3.94rem 1.37rem;

      & h1 {
        font-weight: 700;
        text-transform: uppercase;
        line-height: normal;
        font-size: 1.25rem;
      }
      &-line {
        display: none;
        @media (min-width: 58.75em) {
          display: block;
          position: absolute;
          width: 4px;
          background-color: $text-orange;
          left: 9.5rem;
          height: 100%;
          top: 0;
        }
        @media (min-width: 80em) {
          left: 13.25rem;
        }
      }
    }

    &__line {
      position: absolute;
      right: 0.95rem;
      height: 100%;
      top: 0;
    }

    &__btn {
      display: none;
      z-index: 12;
      position: absolute;
      top: 37.75rem;
      right: 0.31rem;
      max-width: 6rem;
      text-align: center;
      & a {
        color: $text-orange;
        font-family: "Gotham Pro";
        font-size: 1rem;
        line-height: 142.7%;
        letter-spacing: -0.08rem;
        text-transform: uppercase;
      }
    }

    &__dark {
      display: none;
    }

    @media (min-width: 58.75em) {
      background-image: url(../img/bg-pc.png);
      padding: 36.75rem 0 0 0;

      &__title {
        padding: 1rem 0 1rem 11rem;

        & h1 {
          font-weight: 400;
          font-size: 1.875rem;
        }
      }
      &__btn {
        display: block;
      }
      &__line {
        left: 6.6875rem;
      }
    }
    @media (min-width: 80em) {
      padding: 44.44rem 0 0 0;

      &__title {
        padding: 3.62rem 0 6rem 15.37rem;

        & h1 {
          font-size: 2.5rem;
        }
      }
      &__line {
        left: 10.4375rem;
      }
      &__btn {
        max-width: 10.1875rem;
        top: 47.5rem;
        right: 0.1rem;
        & a {
          text-align: center;
          font-size: 1.5rem;
        }
      }

      &__dark {
        position: absolute;
        display: block;
        width: 10.4375rem;
        height: 21.875rem;
        top: 44.44rem;
        right: 0;
        opacity: 0.5;
        background: #0d0d0d;
        border-top: 1px solid $line;
        border-left: 1px solid $line;
        z-index: 2;
      }
    }
  }
}

main {
  .promo {
    display: none;

    @media (min-width: 58.75em) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      height: 13.75rem;

      &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        & .button::after {
          content: "";
          display: block;
          position: absolute;
          top: -0.125em;
          left: -0.125em;
          z-index: -1;

          width: calc(100% + 0.25em);
          height: calc(100% + 0.3em);
          background-size: 200%;
          background-image: linear-gradient(
            45deg,
            #c82e18,
            #fb6b49,
            #f29a68,
            #ffd0a1
          );

          -webkit-animation: animateborder 3s ease infinite;
          animation: animateborder 3s ease infinite;

          top: -0.06em;
          left: -0.05em;
          width: calc(100% + 0.1em);
          height: calc(100% + 0.1em);
        }

        & .promo__link {
          width: 79vw;
          background: #0d0d0d;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.49rem 7.87rem 0.49rem 11rem;

          color: #d9d9d9;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.105rem;
          text-transform: uppercase;
          text-wrap: balance;

          & p {
            margin-right: 6.12rem;
          }
        }
      }

      &__line {
        position: absolute;
        height: 100%;
        top: 0;
        z-index: -1;
        &1 {
          left: 6.6875rem;
        }
        &2 {
          left: 20.31rem;
        }
        &3 {
          right: 19.94rem;
        }
        &4 {
          right: 6.55rem;
        }
      }

      &__svg-pc {
        display: none;
      }
    }
    @media (min-width: 80em) {
      height: 19.75rem;
      &__wrap {
        & .promo__link {
          width: 74.5vw;
          padding: 0.87rem 0;

          & p {
            margin-right: 2.12rem;
          }
        }
      }
      &__svg-tablet {
        display: none;
      }
      &__svg-pc {
        display: block;
      }

      &__line {
        &1 {
          left: 10.4375rem;
        }
        &2,
        &3,
        &4 {
          display: none;
        }
      }
    }
  }

  .services {
    position: relative;
    background-color: $bg-grey;
    padding-bottom: 0.75rem;
    @media (min-width: 58.75em) {
      padding: 0;
    }

    &__title {
      position: absolute;
      left: -5rem;
      top: 10rem;
      color: $text-grey;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.18125rem;
      text-transform: uppercase;
      transform: rotate(-90deg);
      z-index: 2;
      @media (min-width: 58.75em) {
        z-index: 15;
        transform: rotate(0);
        left: max(1.3rem, 3vw);
        top: 2.56rem;
        font-size: 1rem;
        letter-spacing: 0.145rem;
      }
      @media (min-width: 80em) {
        top: 13rem;
        left: 7rem;
        font-size: 2rem;
        letter-spacing: 0.29rem;
        transform: rotate(-90deg);
      }
      @media (min-width: 87em) {
        top: 13rem;
        left: 9vw;
      }
    }
    &__line {
      position: absolute;
      height: 100%;
      right: 0.95rem;
      top: 0;
      z-index: 100;
      @media (min-width: 58.75em) {
        display: none;
      }
    }

    & .swiper-pagination-bullet {
      background: none;
      font-family: "RubikOne", sans-serif;
      font-size: 1.25rem;
      line-height: normal;
      -webkit-text-stroke: 1px $text-grey;
      color: $bg-grey;
      opacity: 0.8;
      transition: all 0.3s;
      width: auto;
      @media (min-width: 58.75em) {
        font-size: 2.5rem;
      }

      &-active {
        font-size: 1.5rem;
        -webkit-text-stroke: inherit;
        color: #fff;
        opacity: 1;
        @media (min-width: 58.75em) {
          font-size: 4rem;
        }
      }
    }

    &__btn {
      display: block;
      width: 12.4375rem;
      padding: 0 0 0.44rem 0;
      margin: 0 1.75rem 0 auto;
      color: $text-orange;
      font-size: 1rem;
      font-weight: 700;
      line-height: normal;
      font-variant: small-caps;
      letter-spacing: 0.07rem;

      border-bottom: 1px solid $text-orange;
      @media (min-width: 58.75em) {
        display: none;
      }
    }

    &__slider-mobile {
      .swiper {
        &__image {
          width: 100%;
          height: 100%;
          padding: 4.25rem 0 1.81rem 0;
          overflow: hidden;
        }

        &-slide {
          display: flex;
          justify-content: center;

          &-image {
            justify-content: flex-end;
            max-height: max(19.1875rem, 80vmin);

            & img {
              object-fit: cover;
              width: 90%;
              display: block;
            }
          }

          &__btns {
            & a {
              display: flex;
              align-items: center;
              justify-content: center;

              width: max(16.75rem, 80vw);
              min-height: 2.3125rem;
              padding: 0.5rem;
              margin-bottom: 1rem;

              color: #d9d9d9;
              border: 1px solid $text-orange;
              text-align: center;
              vertical-align: middle;
              font-size: 0.625rem;
              font-weight: 300;
              line-height: 129.4%;
              letter-spacing: -0.00625rem;
              text-transform: uppercase;
              text-wrap: balance;
            }
          }
        }

        //&-pagination-bullet {
        //  background: none;
        //  font-family: "RubikOne", sans-serif;
        //  font-size: 1.25rem;
        //  line-height: normal;
        //  -webkit-text-stroke: 1px $text-grey;
        //  color: $bg-grey;
        //  opacity: 0.8;
        //  transition: all 0.3s;
        //  width: auto;

        //  &-active {
        //    font-size: 1.5rem;
        //    -webkit-text-stroke: inherit;
        //    color: #fff;
        //    opacity: 1;
        //  }
        //}
      }
      @media (min-width: 58.75em) {
        display: none;
      }
    }

    &__slider-pc {
      display: none;

      @media (min-width: 58.75em) {
        display: flex;
        overflow: hidden;

        & .services__slider-nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          position: relative;
          padding: 2rem;
          flex-basis: 21%;
          background-color: $bg-grey;
          z-index: 10;
          @media (min-width: 80em) {
            padding: 0 2rem;
          }

          //@media (min-width: 87em) {
          //  padding: 0 auto;
          //}

          &-links {
            display: none;
            @media (min-width: 80em) {
              padding-bottom: 1.8rem;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 1.9rem 3rem;
              justify-content: center;

              & .swiper-link {
                color: #fff;
                display: inline-block;
                max-width: 100%;
                font-size: 0.625rem;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-transform: uppercase;
              }
            }
          }

          & .swiper-button-next,
          .swiper-button-prev {
            position: static;

            & img {
              width: 3.1875rem;
            }
          }

          & .buttons-slide {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
            @media (min-width: 80em) {
              margin-top: 50%;
              justify-content: space-evenly;
            }
          }

          & .swiper-pagination-pc {
            padding-top: 6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            flex-basis: 80%;
            @media (min-width: 80em) {
              flex-basis: 50%;
              padding-top: 5rem;
            }
          }
        }

        & .services__slider-img {
          min-width: 0;
          flex-basis: 39%;
          overflow: hidden;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          @media (min-width: 80em) {
            flex-basis: 40%;
          }
        }

        & .services__slider-text {
          position: relative;
          padding: 2.3rem 1.5rem 0.94rem 1.5rem;
          background-color: $bg-grey;
          z-index: 10;
          min-width: 0;
          flex-basis: 47%;

          & .swiper-slide {
            & .text-margin {
              margin-bottom: 0.83606rem;
            }
            & .text-pc {
              display: none;
            }
            &__title {
              font-size: 1.25rem;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.0875rem;
              text-transform: uppercase;
            }
            &__subtitle {
              padding: 0.6rem 0;
              font-size: 0.9375rem;
              font-weight: 300;
              line-height: 129.4%;
              letter-spacing: -0.00938rem;
              text-transform: uppercase;
            }
            &__text {
              color: $text-grey;
              font-size: 0.8125rem;
              font-weight: 400;
              line-height: 156.9%; /* 1.27481rem */
              letter-spacing: -0.00813rem;
            }
            &__popup-link {
              text-align: right;
              display: block;
              color: $text-orange;
              font-size: 0.875rem;
              font-weight: 700;
              line-height: normal;
              letter-spacing: -0.00438rem;
              text-transform: uppercase;
            }
            &__btn-form {
              display: block;
              width: 12.4375rem;
              padding: 0 0 0.44rem 0;
              color: $text-orange;
              font-size: 1rem;
              font-weight: 700;
              line-height: normal;
              font-variant: small-caps;
              letter-spacing: 0.07rem;
              border-bottom: 1px solid $text-orange;
              margin-top: 3rem;
            }
          }
          @media (min-width: 80em) {
            flex-basis: 40%;
            padding: 2rem 1rem 1rem 2rem;
            & .swiper-slide {
              &__title {
                font-size: 1.5rem;
                letter-spacing: 0.105rem;
              }
              &__subtitle {
                padding: 1rem 0;
                font-size: 1.25rem;
                letter-spacing: -0.0125rem;
              }
              &__text {
                font-size: 0.9375rem;
                letter-spacing: -0.00938rem;
              }
              &__popup-link {
                font-size: 0.9375rem;
                letter-spacing: -0.00469rem;
              }
            }
          }
          @media (min-width: 87em) {
            padding: 2rem 3rem 1rem 2rem;
            & .swiper-slide .text-pc {
              display: block;
            }
          }
        }
      }
    }

    &__popups {
      & .popup {
        padding: 1rem 0;
        &__content {
          width: max(80%, 18rem);
          padding: 4rem 0.62rem 1.5rem 0.62rem;
          border: 1px solid $text-grey;
        }
        &__title {
          color: $text-orange;
          font-size: 0.8125rem;
          font-weight: 600;
          line-height: normal;
          margin: 0.62rem 0;
        }
        &__subtitle {
          color: $text-orange;
          font-size: 0.75rem;
          font-weight: 300;
          line-height: normal;
        }
        &__text {
          color: $text-grey;
          font-size: 0.6875rem;
          line-height: normal;
          font-weight: 300;
          letter-spacing: -0.00688rem;
        }
        & .text-margin {
          margin: 0.5rem 0; 
        }
        &__close {
          right: 0.75rem;
          top: 0.75rem;
        }
        @media (min-width: 58.75em) {
          padding: 1rem 0;

          &__content {
          max-width: 29rem;
          min-height: 30rem;
          border: 0;
          padding: 5.4rem 1rem 1.5rem 1rem;
          }
          &__text-center {
            padding: 5.4rem 3rem 1.5rem 3rem;
          }
          &__title {
            text-align: center;
            font-size: 0.9375rem;
            margin: 1.6rem 0;
            text-transform: uppercase;
          }
          &__text {
            font-size: 0.8125rem;
            letter-spacing: 0.07rem;
          }
          & .text-margin {
            margin: 0.7rem 0; 
          }
        }
        @media (min-width: 80em) {

          &__content {
          padding: 4rem 1.5rem 2rem 1.5rem ;
          }
          &__text-center {
            padding: 5.4rem 3rem 1.5rem 3rem;
          }
          &__title {
            text-align: center;
            font-size: 0.9375rem;
            margin: 1.6rem 0;
            text-transform: uppercase;
          }
          &__text {
            font-size: 0.8125rem;
            letter-spacing: 0.07rem;
          }
          & .text-margin {
            margin: 0.7rem 0; 
          }
          & .text-tablet {
            display: none;
          }
        }
      }
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 13, 0.8);
  backdrop-filter: blur(2px);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.4s;

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    background: #272727;
    position: relative;
  }
  &__close {
    position: absolute;
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 58.7em) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet
    span {
    margin: 0 0.35rem;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: 2.2rem;
    bottom: 0;
    left: 0.63rem;
    width: auto;
    max-height: 1.875rem;
  }

  .buttons-slide img {
    width: max(1.56rem, 5vw);
  }

  .swiper-button-next,
  .swiper-button-prev {
    z-index: 0;
    top: min(4.25rem, 81px);
    width: auto;
    height: auto;
  }
  .swiper-button-next {
    right: 1.69em;
  }
  .swiper-button-prev {
    right: 4.68em;
    justify-content: end;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.margin {
  height: 500px;
}

@keyframes animateborder {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.marg {
  height: 600px;
}
